<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyber Crime Help Center</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body> 
   <center> <h1 class="hd">CYBER CRIME REPORT</h1></center>
    <div class="reporting">
    <form action="/" class="container" method="post">
        <input type="text" name="fname" placeholder="Enter Full Name"><br>
        <input type="email" name="email" placeholder="Enter your Email"><br>
        <textarea name="complain" id="" cols="30" rows="10" placeholder="Enter Your Complain Here"></textarea><br>
        <button>Report</button>
    </form>
    <div>
</body>
</html>